<web-app>

<servlet>
<servlet-name>insert</servlet-name>
<servlet-class>com.todolist.InserTask</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>insert</servlet-name>
<url-pattern>/addtask</url-pattern>
</servlet-mapping>





<servlet>
<servlet-name>Listoftasks</servlet-name>
<servlet-class>com.todolist.Tasklist</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Listoftasks</servlet-name>
<url-pattern>/status</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>edit</servlet-name>
<servlet-class>com.todolist.EditForm</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>edit</servlet-name>
<url-pattern>/updateForm</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EditData</servlet-name>
<servlet-class>com.todolist.UpdateServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>EditData</servlet-name>
<url-pattern>/UpdateRecord</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>removed</servlet-name>
<servlet-class>com.todolist.DeleteServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>removed</servlet-name>
<url-pattern>/deleteData</url-pattern>
</servlet-mapping>



</web-app>